PGMSFront/Connected Services/WCFPGMSRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCFPGMSFront/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCFPGMSFront/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCFPGMSFront/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPGMSFront" />
      <xsd:import schemaLocation="http://localhost/WCFPGMSFront/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServiceTemplate" />
      <xsd:import schemaLocation="http://localhost/WCFPGMSFront/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UserGetByLoginId_InputMessage">
    <wsdl:part name="parameters" element="tns:UserGetByLoginId" />
  </wsdl:message>
  <wsdl:message name="IService1_UserGetByLoginId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserGetByLoginIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DashBoardWorkFlowCount_InputMessage">
    <wsdl:part name="parameters" element="tns:DashBoardWorkFlowCount" />
  </wsdl:message>
  <wsdl:message name="IService1_DashBoardWorkFlowCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DashBoardWorkFlowCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserViewFrontGetByCompanyId_InputMessage">
    <wsdl:part name="parameters" element="tns:UserViewFrontGetByCompanyId" />
  </wsdl:message>
  <wsdl:message name="IService1_UserViewFrontGetByCompanyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserViewFrontGetByCompanyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserViewFrontGetByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:UserViewFrontGetByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IService1_UserViewFrontGetByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserViewFrontGetByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserViewGetByLoginIdUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:UserViewGetByLoginIdUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_UserViewGetByLoginIdUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserViewGetByLoginIdUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PropertiesGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:PropertiesGetAll" />
  </wsdl:message>
  <wsdl:message name="IService1_PropertiesGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:PropertiesGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OptionListGetByPropertyId_InputMessage">
    <wsdl:part name="parameters" element="tns:OptionListGetByPropertyId" />
  </wsdl:message>
  <wsdl:message name="IService1_OptionListGetByPropertyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:OptionListGetByPropertyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PropertiesGetByPropertyTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:PropertiesGetByPropertyTypeId" />
  </wsdl:message>
  <wsdl:message name="IService1_PropertiesGetByPropertyTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:PropertiesGetByPropertyTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CustomerMasterInsertFront_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerMasterInsertFront" />
  </wsdl:message>
  <wsdl:message name="IService1_CustomerMasterInsertFront_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerMasterInsertFrontResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UsereMailIdVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:UsereMailIdVerification" />
  </wsdl:message>
  <wsdl:message name="IService1_UsereMailIdVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsereMailIdVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserPaswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:UserPaswordReset" />
  </wsdl:message>
  <wsdl:message name="IService1_UserPaswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserPaswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyDepartmentInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDepartmentInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyDepartmentInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDepartmentInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyDepartmentUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDepartmentUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyDepartmentUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDepartmentUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:UserInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_UserInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:UserUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_UserUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyViewGetByCompanyId_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyViewGetByCompanyId" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyViewGetByCompanyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyViewGetByCompanyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyDepartmentGetByCustomerMasterId_InputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDepartmentGetByCustomerMasterId" />
  </wsdl:message>
  <wsdl:message name="IService1_CompanyDepartmentGetByCustomerMasterId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompanyDepartmentGetByCustomerMasterIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StateGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:StateGetAll" />
  </wsdl:message>
  <wsdl:message name="IService1_StateGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:StateGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DistrictGetByStateId_InputMessage">
    <wsdl:part name="parameters" element="tns:DistrictGetByStateId" />
  </wsdl:message>
  <wsdl:message name="IService1_DistrictGetByStateId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DistrictGetByStateIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DistrictGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DistrictGetAll" />
  </wsdl:message>
  <wsdl:message name="IService1_DistrictGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DistrictGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDeleteAllByBookingId_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingDeleteAllByBookingId" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDeleteAllByBookingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingDeleteAllByBookingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingViewGetByBookingId_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingViewGetByBookingId" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingViewGetByBookingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingViewGetByBookingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingViewGetByCompanyIdStatusPropId_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingViewGetByCompanyIdStatusPropId" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingViewGetByCompanyIdStatusPropId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingViewGetByCompanyIdStatusPropIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingSearchViewGetByCompanyIdFromDateToDateFront_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingSearchViewGetByCompanyIdFromDateToDateFront" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingSearchViewGetByCompanyIdFromDateToDateFront_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingSearchViewGetByCompanyIdFromDateToDateFrontResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingQuotationPIDetailInsertByBookingId_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingQuotationPIDetailInsertByBookingId" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingQuotationPIDetailInsertByBookingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingQuotationPIDetailInsertByBookingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate_InputMessage">
    <wsdl:part name="parameters" element="tns:RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate" />
  </wsdl:message>
  <wsdl:message name="IService1_RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RFQBookingSearchViewFrontGetByCompanyIdFromDateToDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RFQBookingDetailGetByBookingIdBPId_InputMessage">
    <wsdl:part name="parameters" element="tns:RFQBookingDetailGetByBookingIdBPId" />
  </wsdl:message>
  <wsdl:message name="IService1_RFQBookingDetailGetByBookingIdBPId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RFQBookingDetailGetByBookingIdBPIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RFQBookingDetailInsertByBookingIdBPId_InputMessage">
    <wsdl:part name="parameters" element="tns:RFQBookingDetailInsertByBookingIdBPId" />
  </wsdl:message>
  <wsdl:message name="IService1_RFQBookingDetailInsertByBookingIdBPId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RFQBookingDetailInsertByBookingIdBPIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ServiceDateViewFrontGetByBookingId_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDateViewFrontGetByBookingId" />
  </wsdl:message>
  <wsdl:message name="IService1_ServiceDateViewFrontGetByBookingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceDateViewFrontGetByBookingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateServiceDateFrontByBookingIdDayDates_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceDateFrontByBookingIdDayDates" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateServiceDateFrontByBookingIdDayDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceDateFrontByBookingIdDayDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront_InputMessage">
    <wsdl:part name="parameters" element="tns:ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront" />
  </wsdl:message>
  <wsdl:message name="IService1_ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToDoBookingSearchViewGetByCompanyIdFromDateToDateFrontResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId_InputMessage">
    <wsdl:part name="parameters" element="tns:DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId" />
  </wsdl:message>
  <wsdl:message name="IService1_DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentDeleteByDocIdCompId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentDeleteByDocIdCompId" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentDeleteByDocIdCompId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentDeleteByDocIdCompIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentGetByDocId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentGetByDocId" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfVehicleComponentGetByDocId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfVehicleComponentGetByDocIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ServicesGetByBPId_InputMessage">
    <wsdl:part name="parameters" element="tns:ServicesGetByBPId" />
  </wsdl:message>
  <wsdl:message name="IService1_ServicesGetByBPId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServicesGetByBPIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TrackBookingDetailGetByBookingIdTrackGroupId_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackBookingDetailGetByBookingIdTrackGroupId" />
  </wsdl:message>
  <wsdl:message name="IService1_TrackBookingDetailGetByBookingIdTrackGroupId_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackBookingDetailGetByBookingIdTrackGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingStatusGetByServiceIdTimeSlotPropIdWEFDate_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingStatusGetByServiceIdTimeSlotPropIdWEFDate" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingStatusGetByServiceIdTimeSlotPropIdWEFDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingStatusGetByServiceIdTimeSlotPropIdWEFDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TrackBookingDetailInsertFront_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackBookingDetailInsertFront" />
  </wsdl:message>
  <wsdl:message name="IService1_TrackBookingDetailInsertFront_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackBookingDetailInsertFrontResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TrackBookingTimeDetailDeleteFrontByServiceId_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackBookingTimeDetailDeleteFrontByServiceId" />
  </wsdl:message>
  <wsdl:message name="IService1_TrackBookingTimeDetailDeleteFrontByServiceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackBookingTimeDetailDeleteFrontByServiceIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkFlowViewGetByBPId_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkFlowViewGetByBPId" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkFlowViewGetByBPId_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkFlowViewGetByBPIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkFlowActivityInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkFlowActivityInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkFlowActivityInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkFlowActivityInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkFlowActivityTrackGetByBPIdDocId_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkFlowActivityTrackGetByBPIdDocId" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkFlowActivityTrackGetByBPIdDocId_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkFlowActivityTrackGetByBPIdDocIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkshopBookingDetailInsertFront_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkshopBookingDetailInsertFront" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkshopBookingDetailInsertFront_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkshopBookingDetailInsertFrontResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkshopBookingDetailDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkshopBookingDetailDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkshopBookingDetailDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkshopBookingDetailDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkshopBookingDetailViewFrontGetByBookingId_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkshopBookingDetailViewFrontGetByBookingId" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkshopBookingDetailViewFrontGetByBookingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkshopBookingDetailViewFrontGetByBookingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDetailAddOnServicesInsertFront_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingDetailAddOnServicesInsertFront" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDetailAddOnServicesInsertFront_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingDetailAddOnServicesInsertFrontResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDetailAddOnServicesDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingDetailAddOnServicesDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDetailAddOnServicesDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingDetailAddOnServicesDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDetailAddOnServicesViewFrontGetByBookingId_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingDetailAddOnServicesViewFrontGetByBookingId" />
  </wsdl:message>
  <wsdl:message name="IService1_BookingDetailAddOnServicesViewFrontGetByBookingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingDetailAddOnServicesViewFrontGetByBookingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LabBookingDetailInsertFront_InputMessage">
    <wsdl:part name="parameters" element="tns:LabBookingDetailInsertFront" />
  </wsdl:message>
  <wsdl:message name="IService1_LabBookingDetailInsertFront_OutputMessage">
    <wsdl:part name="parameters" element="tns:LabBookingDetailInsertFrontResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LabBookingDetailDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:LabBookingDetailDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_LabBookingDetailDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:LabBookingDetailDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LabBookingDetailViewFrontGetByBookingId_InputMessage">
    <wsdl:part name="parameters" element="tns:LabBookingDetailViewFrontGetByBookingId" />
  </wsdl:message>
  <wsdl:message name="IService1_LabBookingDetailViewFrontGetByBookingId_OutputMessage">
    <wsdl:part name="parameters" element="tns:LabBookingDetailViewFrontGetByBookingIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LablinkVorCGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:LablinkVorCGetAll" />
  </wsdl:message>
  <wsdl:message name="IService1_LablinkVorCGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:LablinkVorCGetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UserGetByLoginId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserGetByLoginId" message="tns:IService1_UserGetByLoginId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserGetByLoginIdResponse" message="tns:IService1_UserGetByLoginId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DashBoardWorkFlowCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DashBoardWorkFlowCount" message="tns:IService1_DashBoardWorkFlowCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DashBoardWorkFlowCountResponse" message="tns:IService1_DashBoardWorkFlowCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserViewFrontGetByCompanyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserViewFrontGetByCompanyId" message="tns:IService1_UserViewFrontGetByCompanyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserViewFrontGetByCompanyIdResponse" message="tns:IService1_UserViewFrontGetByCompanyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserViewFrontGetByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserViewFrontGetByDepartmentId" message="tns:IService1_UserViewFrontGetByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserViewFrontGetByDepartmentIdResponse" message="tns:IService1_UserViewFrontGetByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserViewGetByLoginIdUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserViewGetByLoginIdUserId" message="tns:IService1_UserViewGetByLoginIdUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserViewGetByLoginIdUserIdResponse" message="tns:IService1_UserViewGetByLoginIdUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PropertiesGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PropertiesGetAll" message="tns:IService1_PropertiesGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PropertiesGetAllResponse" message="tns:IService1_PropertiesGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OptionListGetByPropertyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OptionListGetByPropertyId" message="tns:IService1_OptionListGetByPropertyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OptionListGetByPropertyIdResponse" message="tns:IService1_OptionListGetByPropertyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PropertiesGetByPropertyTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PropertiesGetByPropertyTypeId" message="tns:IService1_PropertiesGetByPropertyTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PropertiesGetByPropertyTypeIdResponse" message="tns:IService1_PropertiesGetByPropertyTypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerMasterInsertFront">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CustomerMasterInsertFront" message="tns:IService1_CustomerMasterInsertFront_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CustomerMasterInsertFrontResponse" message="tns:IService1_CustomerMasterInsertFront_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsereMailIdVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UsereMailIdVerification" message="tns:IService1_UsereMailIdVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UsereMailIdVerificationResponse" message="tns:IService1_UsereMailIdVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserPaswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserPaswordReset" message="tns:IService1_UserPaswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserPaswordResetResponse" message="tns:IService1_UserPaswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyDepartmentInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CompanyDepartmentInsert" message="tns:IService1_CompanyDepartmentInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CompanyDepartmentInsertResponse" message="tns:IService1_CompanyDepartmentInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyDepartmentUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CompanyDepartmentUpdate" message="tns:IService1_CompanyDepartmentUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CompanyDepartmentUpdateResponse" message="tns:IService1_CompanyDepartmentUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserInsert" message="tns:IService1_UserInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserInsertResponse" message="tns:IService1_UserInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserUpdate" message="tns:IService1_UserUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserUpdateResponse" message="tns:IService1_UserUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyViewGetByCompanyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CompanyViewGetByCompanyId" message="tns:IService1_CompanyViewGetByCompanyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CompanyViewGetByCompanyIdResponse" message="tns:IService1_CompanyViewGetByCompanyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompanyDepartmentGetByCustomerMasterId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CompanyDepartmentGetByCustomerMasterId" message="tns:IService1_CompanyDepartmentGetByCustomerMasterId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CompanyDepartmentGetByCustomerMasterIdResponse" message="tns:IService1_CompanyDepartmentGetByCustomerMasterId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StateGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StateGetAll" message="tns:IService1_StateGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StateGetAllResponse" message="tns:IService1_StateGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DistrictGetByStateId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DistrictGetByStateId" message="tns:IService1_DistrictGetByStateId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DistrictGetByStateIdResponse" message="tns:IService1_DistrictGetByStateId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DistrictGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DistrictGetAll" message="tns:IService1_DistrictGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DistrictGetAllResponse" message="tns:IService1_DistrictGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingInsert" message="tns:IService1_BookingInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingInsertResponse" message="tns:IService1_BookingInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingUpdate" message="tns:IService1_BookingUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingUpdateResponse" message="tns:IService1_BookingUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingDeleteAllByBookingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingDeleteAllByBookingId" message="tns:IService1_BookingDeleteAllByBookingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingDeleteAllByBookingIdResponse" message="tns:IService1_BookingDeleteAllByBookingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingViewGetByBookingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingViewGetByBookingId" message="tns:IService1_BookingViewGetByBookingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingViewGetByBookingIdResponse" message="tns:IService1_BookingViewGetByBookingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingViewGetByCompanyIdStatusPropId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingViewGetByCompanyIdStatusPropId" message="tns:IService1_BookingViewGetByCompanyIdStatusPropId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingViewGetByCompanyIdStatusPropIdResponse" message="tns:IService1_BookingViewGetByCompanyIdStatusPropId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingSearchViewGetByCompanyIdFromDateToDateFront">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingSearchViewGetByCompanyIdFromDateToDateFront" message="tns:IService1_BookingSearchViewGetByCompanyIdFromDateToDateFront_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingSearchViewGetByCompanyIdFromDateToDateFrontResponse" message="tns:IService1_BookingSearchViewGetByCompanyIdFromDateToDateFront_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingQuotationPIDetailInsertByBookingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingQuotationPIDetailInsertByBookingId" message="tns:IService1_BookingQuotationPIDetailInsertByBookingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingQuotationPIDetailInsertByBookingIdResponse" message="tns:IService1_BookingQuotationPIDetailInsertByBookingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate" message="tns:IService1_RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RFQBookingSearchViewFrontGetByCompanyIdFromDateToDateResponse" message="tns:IService1_RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RFQBookingDetailGetByBookingIdBPId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RFQBookingDetailGetByBookingIdBPId" message="tns:IService1_RFQBookingDetailGetByBookingIdBPId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RFQBookingDetailGetByBookingIdBPIdResponse" message="tns:IService1_RFQBookingDetailGetByBookingIdBPId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RFQBookingDetailInsertByBookingIdBPId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RFQBookingDetailInsertByBookingIdBPId" message="tns:IService1_RFQBookingDetailInsertByBookingIdBPId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RFQBookingDetailInsertByBookingIdBPIdResponse" message="tns:IService1_RFQBookingDetailInsertByBookingIdBPId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceDateViewFrontGetByBookingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ServiceDateViewFrontGetByBookingId" message="tns:IService1_ServiceDateViewFrontGetByBookingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ServiceDateViewFrontGetByBookingIdResponse" message="tns:IService1_ServiceDateViewFrontGetByBookingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceDateFrontByBookingIdDayDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateServiceDateFrontByBookingIdDayDates" message="tns:IService1_UpdateServiceDateFrontByBookingIdDayDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateServiceDateFrontByBookingIdDayDatesResponse" message="tns:IService1_UpdateServiceDateFrontByBookingIdDayDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront" message="tns:IService1_ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ToDoBookingSearchViewGetByCompanyIdFromDateToDateFrontResponse" message="tns:IService1_ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId" message="tns:IService1_DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyIdResponse" message="tns:IService1_DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentInsert" message="tns:IService1_ListOfVehicleComponentInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentInsertResponse" message="tns:IService1_ListOfVehicleComponentInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentUpdate" message="tns:IService1_ListOfVehicleComponentUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentUpdateResponse" message="tns:IService1_ListOfVehicleComponentUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentDeleteByDocIdCompId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentDeleteByDocIdCompId" message="tns:IService1_ListOfVehicleComponentDeleteByDocIdCompId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentDeleteByDocIdCompIdResponse" message="tns:IService1_ListOfVehicleComponentDeleteByDocIdCompId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentGetByDocId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentGetByDocId" message="tns:IService1_ListOfVehicleComponentGetByDocId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfVehicleComponentGetByDocIdResponse" message="tns:IService1_ListOfVehicleComponentGetByDocId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServicesGetByBPId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ServicesGetByBPId" message="tns:IService1_ServicesGetByBPId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ServicesGetByBPIdResponse" message="tns:IService1_ServicesGetByBPId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackBookingDetailGetByBookingIdTrackGroupId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TrackBookingDetailGetByBookingIdTrackGroupId" message="tns:IService1_TrackBookingDetailGetByBookingIdTrackGroupId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TrackBookingDetailGetByBookingIdTrackGroupIdResponse" message="tns:IService1_TrackBookingDetailGetByBookingIdTrackGroupId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingStatusGetByServiceIdTimeSlotPropIdWEFDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingStatusGetByServiceIdTimeSlotPropIdWEFDate" message="tns:IService1_BookingStatusGetByServiceIdTimeSlotPropIdWEFDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingStatusGetByServiceIdTimeSlotPropIdWEFDateResponse" message="tns:IService1_BookingStatusGetByServiceIdTimeSlotPropIdWEFDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackBookingDetailInsertFront">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TrackBookingDetailInsertFront" message="tns:IService1_TrackBookingDetailInsertFront_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TrackBookingDetailInsertFrontResponse" message="tns:IService1_TrackBookingDetailInsertFront_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackBookingTimeDetailDeleteFrontByServiceId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TrackBookingTimeDetailDeleteFrontByServiceId" message="tns:IService1_TrackBookingTimeDetailDeleteFrontByServiceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TrackBookingTimeDetailDeleteFrontByServiceIdResponse" message="tns:IService1_TrackBookingTimeDetailDeleteFrontByServiceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkFlowViewGetByBPId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkFlowViewGetByBPId" message="tns:IService1_WorkFlowViewGetByBPId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkFlowViewGetByBPIdResponse" message="tns:IService1_WorkFlowViewGetByBPId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkFlowActivityInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkFlowActivityInsert" message="tns:IService1_WorkFlowActivityInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkFlowActivityInsertResponse" message="tns:IService1_WorkFlowActivityInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkFlowActivityTrackGetByBPIdDocId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkFlowActivityTrackGetByBPIdDocId" message="tns:IService1_WorkFlowActivityTrackGetByBPIdDocId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkFlowActivityTrackGetByBPIdDocIdResponse" message="tns:IService1_WorkFlowActivityTrackGetByBPIdDocId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkshopBookingDetailInsertFront">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkshopBookingDetailInsertFront" message="tns:IService1_WorkshopBookingDetailInsertFront_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkshopBookingDetailInsertFrontResponse" message="tns:IService1_WorkshopBookingDetailInsertFront_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkshopBookingDetailDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkshopBookingDetailDelete" message="tns:IService1_WorkshopBookingDetailDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkshopBookingDetailDeleteResponse" message="tns:IService1_WorkshopBookingDetailDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkshopBookingDetailViewFrontGetByBookingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkshopBookingDetailViewFrontGetByBookingId" message="tns:IService1_WorkshopBookingDetailViewFrontGetByBookingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkshopBookingDetailViewFrontGetByBookingIdResponse" message="tns:IService1_WorkshopBookingDetailViewFrontGetByBookingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingDetailAddOnServicesInsertFront">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingDetailAddOnServicesInsertFront" message="tns:IService1_BookingDetailAddOnServicesInsertFront_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingDetailAddOnServicesInsertFrontResponse" message="tns:IService1_BookingDetailAddOnServicesInsertFront_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingDetailAddOnServicesDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingDetailAddOnServicesDelete" message="tns:IService1_BookingDetailAddOnServicesDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingDetailAddOnServicesDeleteResponse" message="tns:IService1_BookingDetailAddOnServicesDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingDetailAddOnServicesViewFrontGetByBookingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookingDetailAddOnServicesViewFrontGetByBookingId" message="tns:IService1_BookingDetailAddOnServicesViewFrontGetByBookingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookingDetailAddOnServicesViewFrontGetByBookingIdResponse" message="tns:IService1_BookingDetailAddOnServicesViewFrontGetByBookingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LabBookingDetailInsertFront">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LabBookingDetailInsertFront" message="tns:IService1_LabBookingDetailInsertFront_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LabBookingDetailInsertFrontResponse" message="tns:IService1_LabBookingDetailInsertFront_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LabBookingDetailDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LabBookingDetailDelete" message="tns:IService1_LabBookingDetailDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LabBookingDetailDeleteResponse" message="tns:IService1_LabBookingDetailDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LabBookingDetailViewFrontGetByBookingId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LabBookingDetailViewFrontGetByBookingId" message="tns:IService1_LabBookingDetailViewFrontGetByBookingId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LabBookingDetailViewFrontGetByBookingIdResponse" message="tns:IService1_LabBookingDetailViewFrontGetByBookingId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LablinkVorCGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LablinkVorCGetAll" message="tns:IService1_LablinkVorCGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LablinkVorCGetAllResponse" message="tns:IService1_LablinkVorCGetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#WSHttpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserGetByLoginId">
      <soap12:operation soapAction="http://tempuri.org/IService1/UserGetByLoginId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DashBoardWorkFlowCount">
      <soap12:operation soapAction="http://tempuri.org/IService1/DashBoardWorkFlowCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserViewFrontGetByCompanyId">
      <soap12:operation soapAction="http://tempuri.org/IService1/UserViewFrontGetByCompanyId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserViewFrontGetByDepartmentId">
      <soap12:operation soapAction="http://tempuri.org/IService1/UserViewFrontGetByDepartmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserViewGetByLoginIdUserId">
      <soap12:operation soapAction="http://tempuri.org/IService1/UserViewGetByLoginIdUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropertiesGetAll">
      <soap12:operation soapAction="http://tempuri.org/IService1/PropertiesGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OptionListGetByPropertyId">
      <soap12:operation soapAction="http://tempuri.org/IService1/OptionListGetByPropertyId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PropertiesGetByPropertyTypeId">
      <soap12:operation soapAction="http://tempuri.org/IService1/PropertiesGetByPropertyTypeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerMasterInsertFront">
      <soap12:operation soapAction="http://tempuri.org/IService1/CustomerMasterInsertFront" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsereMailIdVerification">
      <soap12:operation soapAction="http://tempuri.org/IService1/UsereMailIdVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserPaswordReset">
      <soap12:operation soapAction="http://tempuri.org/IService1/UserPaswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyDepartmentInsert">
      <soap12:operation soapAction="http://tempuri.org/IService1/CompanyDepartmentInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyDepartmentUpdate">
      <soap12:operation soapAction="http://tempuri.org/IService1/CompanyDepartmentUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInsert">
      <soap12:operation soapAction="http://tempuri.org/IService1/UserInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdate">
      <soap12:operation soapAction="http://tempuri.org/IService1/UserUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyViewGetByCompanyId">
      <soap12:operation soapAction="http://tempuri.org/IService1/CompanyViewGetByCompanyId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompanyDepartmentGetByCustomerMasterId">
      <soap12:operation soapAction="http://tempuri.org/IService1/CompanyDepartmentGetByCustomerMasterId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StateGetAll">
      <soap12:operation soapAction="http://tempuri.org/IService1/StateGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistrictGetByStateId">
      <soap12:operation soapAction="http://tempuri.org/IService1/DistrictGetByStateId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistrictGetAll">
      <soap12:operation soapAction="http://tempuri.org/IService1/DistrictGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingInsert">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingUpdate">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingDeleteAllByBookingId">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingDeleteAllByBookingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingViewGetByBookingId">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingViewGetByBookingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingViewGetByCompanyIdStatusPropId">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingViewGetByCompanyIdStatusPropId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingSearchViewGetByCompanyIdFromDateToDateFront">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingSearchViewGetByCompanyIdFromDateToDateFront" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingQuotationPIDetailInsertByBookingId">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingQuotationPIDetailInsertByBookingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate">
      <soap12:operation soapAction="http://tempuri.org/IService1/RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RFQBookingDetailGetByBookingIdBPId">
      <soap12:operation soapAction="http://tempuri.org/IService1/RFQBookingDetailGetByBookingIdBPId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RFQBookingDetailInsertByBookingIdBPId">
      <soap12:operation soapAction="http://tempuri.org/IService1/RFQBookingDetailInsertByBookingIdBPId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceDateViewFrontGetByBookingId">
      <soap12:operation soapAction="http://tempuri.org/IService1/ServiceDateViewFrontGetByBookingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceDateFrontByBookingIdDayDates">
      <soap12:operation soapAction="http://tempuri.org/IService1/UpdateServiceDateFrontByBookingIdDayDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront">
      <soap12:operation soapAction="http://tempuri.org/IService1/ToDoBookingSearchViewGetByCompanyIdFromDateToDateFront" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId">
      <soap12:operation soapAction="http://tempuri.org/IService1/DashBoardDocumentGetByBPIdWorkFlowIdStatusPropertyId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentInsert">
      <soap12:operation soapAction="http://tempuri.org/IService1/ListOfVehicleComponentInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentUpdate">
      <soap12:operation soapAction="http://tempuri.org/IService1/ListOfVehicleComponentUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentDeleteByDocIdCompId">
      <soap12:operation soapAction="http://tempuri.org/IService1/ListOfVehicleComponentDeleteByDocIdCompId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOfVehicleComponentGetByDocId">
      <soap12:operation soapAction="http://tempuri.org/IService1/ListOfVehicleComponentGetByDocId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicesGetByBPId">
      <soap12:operation soapAction="http://tempuri.org/IService1/ServicesGetByBPId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackBookingDetailGetByBookingIdTrackGroupId">
      <soap12:operation soapAction="http://tempuri.org/IService1/TrackBookingDetailGetByBookingIdTrackGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingStatusGetByServiceIdTimeSlotPropIdWEFDate">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingStatusGetByServiceIdTimeSlotPropIdWEFDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackBookingDetailInsertFront">
      <soap12:operation soapAction="http://tempuri.org/IService1/TrackBookingDetailInsertFront" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackBookingTimeDetailDeleteFrontByServiceId">
      <soap12:operation soapAction="http://tempuri.org/IService1/TrackBookingTimeDetailDeleteFrontByServiceId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkFlowViewGetByBPId">
      <soap12:operation soapAction="http://tempuri.org/IService1/WorkFlowViewGetByBPId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkFlowActivityInsert">
      <soap12:operation soapAction="http://tempuri.org/IService1/WorkFlowActivityInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkFlowActivityTrackGetByBPIdDocId">
      <soap12:operation soapAction="http://tempuri.org/IService1/WorkFlowActivityTrackGetByBPIdDocId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkshopBookingDetailInsertFront">
      <soap12:operation soapAction="http://tempuri.org/IService1/WorkshopBookingDetailInsertFront" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkshopBookingDetailDelete">
      <soap12:operation soapAction="http://tempuri.org/IService1/WorkshopBookingDetailDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkshopBookingDetailViewFrontGetByBookingId">
      <soap12:operation soapAction="http://tempuri.org/IService1/WorkshopBookingDetailViewFrontGetByBookingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingDetailAddOnServicesInsertFront">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingDetailAddOnServicesInsertFront" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingDetailAddOnServicesDelete">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingDetailAddOnServicesDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingDetailAddOnServicesViewFrontGetByBookingId">
      <soap12:operation soapAction="http://tempuri.org/IService1/BookingDetailAddOnServicesViewFrontGetByBookingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LabBookingDetailInsertFront">
      <soap12:operation soapAction="http://tempuri.org/IService1/LabBookingDetailInsertFront" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LabBookingDetailDelete">
      <soap12:operation soapAction="http://tempuri.org/IService1/LabBookingDetailDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LabBookingDetailViewFrontGetByBookingId">
      <soap12:operation soapAction="http://tempuri.org/IService1/LabBookingDetailViewFrontGetByBookingId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LablinkVorCGetAll">
      <soap12:operation soapAction="http://tempuri.org/IService1/LablinkVorCGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="WSHttpBinding_IService1" binding="tns:WSHttpBinding_IService1">
      <soap12:address location="http://localhost/WCFPGMSFront/Service1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/WCFPGMSFront/Service1.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>