PGMSFront/Connected Services/WCFPGMSRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCFPGMSFront/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPGMSFront" />
  <xs:import schemaLocation="http://localhost/WCFPGMSFront/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UserGetByLoginId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetByLoginIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="UserGetByLoginIdResult" nillable="true" type="q1:returndbmlUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyViewGetByCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyViewGetByCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="CompanyViewGetByCompanyIdResult" nillable="true" type="q2:returndbmlCompanyView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertiesGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertiesGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="PropertiesGetAllResult" nillable="true" type="q3:returndbmlProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptionListGetByPropertyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intPropertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptionListGetByPropertyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="OptionListGetByPropertyIdResult" nillable="true" type="q4:returndbmlOptionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlBooking" nillable="true" type="q5:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingInsertResult" nillable="true" type="q6:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlBooking" nillable="true" type="q7:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingUpdateResult" nillable="true" type="q8:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDeleteAllByBookingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intBookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDeleteAllByBookingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingDeleteAllByBookingIdResult" nillable="true" type="q9:returndbmlStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingViewGetByBookingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intBookingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingViewGetByBookingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingViewGetByBookingIdResult" nillable="true" type="q10:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingViewGetByCompanyIdStatusPropId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intStatusPropId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingViewGetByCompanyIdStatusPropIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingViewGetByCompanyIdStatusPropIdResult" nillable="true" type="q11:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyDepartmentGetByCustomerMasterId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCustomerMasterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyDepartmentGetByCustomerMasterIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="CompanyDepartmentGetByCustomerMasterIdResult" nillable="true" type="q12:returndbmlCompanyDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingSearchViewGetByCompanyIdFromDateToDateFront">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="dtFromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="intBPId" type="xs:int" />
        <xs:element minOccurs="0" name="intStatusPropId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingSearchViewGetByCompanyIdFromDateToDateFrontResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingSearchViewGetByCompanyIdFromDateToDateFrontResult" nillable="true" type="q13:returndbmlBookingSearchView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingQuotationPIDetailInsertByBookingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingQuotationPIDetailInsertByBookingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingQuotationPIDetailInsertByBookingIdResult" nillable="true" type="q14:returndbmlStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFQBookingSearchViewFrontGetByCompanyIdFromDateToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="dtFromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="intBPId" type="xs:int" />
        <xs:element minOccurs="0" name="intStatusPropId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFQBookingSearchViewFrontGetByCompanyIdFromDateToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="RFQBookingSearchViewFrontGetByCompanyIdFromDateToDateResult" nillable="true" type="q15:returndbmlBookingSearchView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFQBookingDetailGetByBookingIdBPId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intBookingId" type="xs:int" />
        <xs:element minOccurs="0" name="intBPId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFQBookingDetailGetByBookingIdBPIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="RFQBookingDetailGetByBookingIdBPIdResult" nillable="true" type="q16:returndbmlRFQBookingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFQBookingDetailInsertByBookingIdBPId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intRFQBookingId" type="xs:int" />
        <xs:element minOccurs="0" name="intRFQBPId" type="xs:int" />
        <xs:element minOccurs="0" name="intBPId" type="xs:int" />
        <xs:element minOccurs="0" name="intUserId" type="xs:int" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFQBookingDetailInsertByBookingIdBPIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="RFQBookingDetailInsertByBookingIdBPIdResult" nillable="true" type="q17:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlListOfVehicleComponent" nillable="true" type="q18:returndbmlListOfVehicleComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="ListOfVehicleComponentInsertResult" nillable="true" type="q19:returndbmlListOfVehicleComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlListOfVehicleComponent" nillable="true" type="q20:returndbmlListOfVehicleComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="ListOfVehicleComponentUpdateResult" nillable="true" type="q21:returndbmlListOfVehicleComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentDeleteByDocIdCompId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
        <xs:element minOccurs="0" name="intVehCompId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentDeleteByDocIdCompIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="ListOfVehicleComponentDeleteByDocIdCompIdResult" nillable="true" type="q22:returndbmlListOfVehicleComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentGetByDocId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfVehicleComponentGetByDocIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="ListOfVehicleComponentGetByDocIdResult" nillable="true" type="q23:returndbmlListOfVehicleComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicesGetByBPId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intBPId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicesGetByBPIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="ServicesGetByBPIdResult" nillable="true" type="q24:returndbmlServicesView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackBookingDetailGetByBookingIdTrackGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intBookingId" type="xs:int" />
        <xs:element minOccurs="0" name="intTrackGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackBookingDetailGetByBookingIdTrackGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="TrackBookingDetailGetByBookingIdTrackGroupIdResult" nillable="true" type="q25:returndbmlTrackBookingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingStatusGetByServiceIdTimeSlotPropIdWEFDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="intlstServiceId" nillable="true" type="q26:ArrayOfint" />
        <xs:element minOccurs="0" name="intTimeSlotId" type="xs:int" />
        <xs:element minOccurs="0" name="dtWED" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingStatusGetByServiceIdTimeSlotPropIdWEFDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingStatusGetByServiceIdTimeSlotPropIdWEFDateResult" nillable="true" type="q27:returndbmlBookingStatusTimeSlotView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackBookingDetailInsertFront">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlTrackBookingDetail" nillable="true" type="q28:returndbmlTrackBookingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackBookingDetailInsertFrontResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="TrackBookingDetailInsertFrontResult" nillable="true" type="q29:returndbmlTrackBookingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackBookingTimeDetailDeleteFrontByServiceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intBookingId" type="xs:int" />
        <xs:element minOccurs="0" name="intTrackGroupId" type="xs:int" />
        <xs:element minOccurs="0" name="intVehicleId" type="xs:int" />
        <xs:element minOccurs="0" name="dtDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="intServiceId" type="xs:int" />
        <xs:element minOccurs="0" name="intTimeSlotId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackBookingTimeDetailDeleteFrontByServiceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="TrackBookingTimeDetailDeleteFrontByServiceIdResult" nillable="true" type="q30:returndbmlTrackBookingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkFlowViewGetByBPId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intBPId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkFlowViewGetByBPIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="WorkFlowViewGetByBPIdResult" nillable="true" type="q31:returndbmlWorkFlowView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkFlowActivityInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
        <xs:element minOccurs="0" name="intBPId" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkPlowId" type="xs:int" />
        <xs:element minOccurs="0" name="intStatusId" type="xs:int" />
        <xs:element minOccurs="0" name="strRemark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCreateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkFlowActivityInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="WorkFlowActivityInsertResult" nillable="true" type="q32:returndbmlBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkshopBookingDetailInsertFront">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlWorkshopBookingDetailViewFront" nillable="true" type="q33:returndbmlWorkshopBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkshopBookingDetailInsertFrontResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="WorkshopBookingDetailInsertFrontResult" nillable="true" type="q34:returndbmlWorkshopBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkshopBookingDetailDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkshopBookingDetailId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkshopBookingDetailDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="WorkshopBookingDetailDeleteResult" nillable="true" type="q35:returndbmlWorkshopBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkshopBookingDetailViewFrontGetByBookingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkshopBookingDetailViewFrontGetByBookingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="WorkshopBookingDetailViewFrontGetByBookingIdResult" nillable="true" type="q36:returndbmlWorkshopBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDetailAddOnServicesInsertFront">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlBookingDetailAddOnServicesViewFront" nillable="true" type="q37:returndbmlBookingDetailAddOnServicesViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDetailAddOnServicesInsertFrontResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingDetailAddOnServicesInsertFrontResult" nillable="true" type="q38:returndbmlBookingDetailAddOnServicesViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDetailAddOnServicesDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
        <xs:element minOccurs="0" name="intBookingDetailAddOnServicesId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDetailAddOnServicesDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingDetailAddOnServicesDeleteResult" nillable="true" type="q39:returndbmlBookingDetailAddOnServicesViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDetailAddOnServicesViewFrontGetByBookingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingDetailAddOnServicesViewFrontGetByBookingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="BookingDetailAddOnServicesViewFrontGetByBookingIdResult" nillable="true" type="q40:returndbmlBookingDetailAddOnServicesViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabBookingDetailInsertFront">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="objreturndbmlLabBookingDetailViewFront" nillable="true" type="q41:returndbmlLabBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabBookingDetailInsertFrontResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="LabBookingDetailInsertFrontResult" nillable="true" type="q42:returndbmlLabBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabBookingDetailDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
        <xs:element minOccurs="0" name="intLabBookingDetailId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabBookingDetailDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="LabBookingDetailDeleteResult" nillable="true" type="q43:returndbmlLabBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabBookingDetailViewFrontGetByBookingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabBookingDetailViewFrontGetByBookingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="LabBookingDetailViewFrontGetByBookingIdResult" nillable="true" type="q44:returndbmlLabBookingDetailViewFront" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LablinkVorCGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LablinkVorCGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WCFPGMSFront" minOccurs="0" name="LablinkVorCGetAllResult" nillable="true" type="q45:returndbmlLablinkVorC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>