PGMSFront/Connected Services/WCFPGMSRef/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceTemplate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceTemplate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dbmlStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlStatus" nillable="true" type="tns:dbmlStatus" />
  <xs:complexType name="ArrayOfdbmlUserView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlUserView" nillable="true" type="tns:dbmlUserView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlUserView" nillable="true" type="tns:ArrayOfdbmlUserView" />
  <xs:complexType name="dbmlUserView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerDepartmentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerMasterId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DbId" type="xs:int" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailVerify" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileOTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypePropId" type="xs:int" />
      <xs:element minOccurs="0" name="ZZAccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZDepartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZDistrictId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZGSTNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZPanNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZServiceBPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZStateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZUserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlUserView" nillable="true" type="tns:dbmlUserView" />
  <xs:complexType name="ArrayOfdbmlDashBoardWorkFlowViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlDashBoardWorkFlowViewFront" nillable="true" type="tns:dbmlDashBoardWorkFlowViewFront" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlDashBoardWorkFlowViewFront" nillable="true" type="tns:ArrayOfdbmlDashBoardWorkFlowViewFront" />
  <xs:complexType name="dbmlDashBoardWorkFlowViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPId" type="xs:int" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Counts" type="xs:int" />
      <xs:element minOccurs="0" name="DashBoardId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusPropId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlDashBoardWorkFlowViewFront" nillable="true" type="tns:dbmlDashBoardWorkFlowViewFront" />
  <xs:complexType name="ArrayOfdbmlProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlProperty" nillable="true" type="tns:dbmlProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlProperty" nillable="true" type="tns:ArrayOfdbmlProperty" />
  <xs:complexType name="dbmlProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyId" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlProperty" nillable="true" type="tns:dbmlProperty" />
  <xs:complexType name="ArrayOfdbmlOptionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlOptionList" nillable="true" type="tns:dbmlOptionList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlOptionList" nillable="true" type="tns:ArrayOfdbmlOptionList" />
  <xs:complexType name="dbmlOptionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OptionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionListId" type="xs:int" />
      <xs:element minOccurs="0" name="OptionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlOptionList" nillable="true" type="tns:dbmlOptionList" />
  <xs:complexType name="ArrayOfdbmlCompanyView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlCompanyView" nillable="true" type="tns:dbmlCompanyView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlCompanyView" nillable="true" type="tns:ArrayOfdbmlCompanyView" />
  <xs:complexType name="dbmlCompanyView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerMasterId" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KnowAboutNatraxOL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PANNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationCatagory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceBPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZDistrict" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZLoginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlCompanyView" nillable="true" type="tns:dbmlCompanyView" />
  <xs:complexType name="ArrayOfdbmlCompanyDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlCompanyDepartment" nillable="true" type="tns:dbmlCompanyDepartment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlCompanyDepartment" nillable="true" type="tns:ArrayOfdbmlCompanyDepartment" />
  <xs:complexType name="dbmlCompanyDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyDepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerMasterId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZCompanyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlCompanyDepartment" nillable="true" type="tns:dbmlCompanyDepartment" />
  <xs:complexType name="ArrayOfdbmlState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlState" nillable="true" type="tns:dbmlState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlState" nillable="true" type="tns:ArrayOfdbmlState" />
  <xs:complexType name="dbmlState">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClubedStateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlState" nillable="true" type="tns:dbmlState" />
  <xs:complexType name="ArrayOfdbmlDistrict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlDistrict" nillable="true" type="tns:dbmlDistrict" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlDistrict" nillable="true" type="tns:ArrayOfdbmlDistrict" />
  <xs:complexType name="dbmlDistrict">
    <xs:sequence>
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlDistrict" nillable="true" type="tns:dbmlDistrict" />
  <xs:complexType name="ArrayOfdbmlCustomerMasterPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlCustomerMasterPhoto" nillable="true" type="tns:dbmlCustomerMasterPhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlCustomerMasterPhoto" nillable="true" type="tns:ArrayOfdbmlCustomerMasterPhoto" />
  <xs:complexType name="dbmlCustomerMasterPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerMasterId" type="xs:int" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSerialNo" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerifiedBy" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlCustomerMasterPhoto" nillable="true" type="tns:dbmlCustomerMasterPhoto" />
  <xs:complexType name="ArrayOfdbmlBookingView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlBookingView" nillable="true" type="tns:dbmlBookingView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlBookingView" nillable="true" type="tns:ArrayOfdbmlBookingView" />
  <xs:complexType name="dbmlBookingView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AuditId" type="xs:int" />
      <xs:element minOccurs="0" name="BPId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DocNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfDrivers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfOtherPersons" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfVehicle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PMEmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PODate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PODocPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFQId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TabStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
      <xs:element minOccurs="0" name="ZZBookingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZBookingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZCreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZRFQBPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZRFQBookingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZRFQBookingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZStatusPropertyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZStatusWorkflowId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZUpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZWorkFlowId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZWorkflowRemark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlBookingView" nillable="true" type="tns:dbmlBookingView" />
  <xs:complexType name="ArrayOfdbmlBookingSearchView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlBookingSearchView" nillable="true" type="tns:dbmlBookingSearchView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlBookingSearchView" nillable="true" type="tns:ArrayOfdbmlBookingSearchView" />
  <xs:complexType name="dbmlBookingSearchView">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DocNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WorkFlowId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZBookingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZWorkFlowColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZWorkFlowName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlBookingSearchView" nillable="true" type="tns:dbmlBookingSearchView" />
  <xs:complexType name="ArrayOfdbmlBookingDetailAddOnServicesViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlBookingDetailAddOnServicesViewFront" nillable="true" type="tns:dbmlBookingDetailAddOnServicesViewFront" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlBookingDetailAddOnServicesViewFront" nillable="true" type="tns:ArrayOfdbmlBookingDetailAddOnServicesViewFront" />
  <xs:complexType name="dbmlBookingDetailAddOnServicesViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AuditId" type="xs:int" />
      <xs:element minOccurs="0" name="BPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingAddOnServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingStatusPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Consumption" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="POAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PODate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UOMPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
      <xs:element minOccurs="0" name="ZZBookingStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZServiceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUOM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlBookingDetailAddOnServicesViewFront" nillable="true" type="tns:dbmlBookingDetailAddOnServicesViewFront" />
  <xs:complexType name="ArrayOfdbmlLabBookingDetailViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlLabBookingDetailViewFront" nillable="true" type="tns:dbmlLabBookingDetailViewFront" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlLabBookingDetailViewFront" nillable="true" type="tns:ArrayOfdbmlLabBookingDetailViewFront" />
  <xs:complexType name="dbmlLabBookingDetailViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AuditId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingStatusPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LabBookingDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="POAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PODate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefServiceBPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UOMPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsageDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsageHours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsageMinutes" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VehCompId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZBookStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZPODate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUsageDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZVehComp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlLabBookingDetailViewFront" nillable="true" type="tns:dbmlLabBookingDetailViewFront" />
  <xs:complexType name="ArrayOfdbmlListOfVehicleComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlListOfVehicleComponent" nillable="true" type="tns:dbmlListOfVehicleComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlListOfVehicleComponent" nillable="true" type="tns:ArrayOfdbmlListOfVehicleComponent" />
  <xs:complexType name="dbmlListOfVehicleComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehCompId" type="xs:int" />
      <xs:element minOccurs="0" name="VorC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlListOfVehicleComponent" nillable="true" type="tns:dbmlListOfVehicleComponent" />
  <xs:complexType name="ArrayOfdbmlTrackBookingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlTrackBookingDetail" nillable="true" type="tns:dbmlTrackBookingDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlTrackBookingDetail" nillable="true" type="tns:ArrayOfdbmlTrackBookingDetail" />
  <xs:complexType name="dbmlTrackBookingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AuditId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingHrs" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingMinutes" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingStatusPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FromDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="POAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PODate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefServiceBPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TestDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TrackBookingDetailId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TrackGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackGroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UOMPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsagesHrs" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsagesMinute" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VehicleId" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleTypePropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZFromDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZToDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUOM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlTrackBookingDetail" nillable="true" type="tns:dbmlTrackBookingDetail" />
  <xs:complexType name="ArrayOfdbmlTrackBookingTimeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlTrackBookingTimeDetail" nillable="true" type="tns:dbmlTrackBookingTimeDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlTrackBookingTimeDetail" nillable="true" type="tns:ArrayOfdbmlTrackBookingTimeDetail" />
  <xs:complexType name="dbmlTrackBookingTimeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AuditId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingHrs" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BookingDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDetailId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RoundOffHrs" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoundOffMin" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SlotPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SrNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalHours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMinutes" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TrackBookingTimeDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="UOMId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZServiceSpecification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZTrackGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZTrackGroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZUOM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlTrackBookingTimeDetail" nillable="true" type="tns:dbmlTrackBookingTimeDetail" />
  <xs:complexType name="ArrayOfdbmlTrackBookingTimeSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlTrackBookingTimeSummary" nillable="true" type="tns:dbmlTrackBookingTimeSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlTrackBookingTimeSummary" nillable="true" type="tns:ArrayOfdbmlTrackBookingTimeSummary" />
  <xs:complexType name="dbmlTrackBookingTimeSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AuditId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingHrs" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RoundOffHrs" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoundOffMin" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalHours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalMinutes" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TrackBookingTimeSummaryId" type="xs:int" />
      <xs:element minOccurs="0" name="UOMId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsageDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUsageDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlTrackBookingTimeSummary" nillable="true" type="tns:dbmlTrackBookingTimeSummary" />
  <xs:complexType name="ArrayOfdbmlWorkshopBookingDetailViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlWorkshopBookingDetailViewFront" nillable="true" type="tns:dbmlWorkshopBookingDetailViewFront" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlWorkshopBookingDetailViewFront" nillable="true" type="tns:ArrayOfdbmlWorkshopBookingDetailViewFront" />
  <xs:complexType name="dbmlWorkshopBookingDetailViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AuditId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingStatusPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="POAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PODate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefServiceBPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGSTAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SGSTRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxableAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UOMPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsageDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsageHours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsageMinutes" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WorkshopBookingDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="ZZBookStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZPODate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZUsageDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlWorkshopBookingDetailViewFront" nillable="true" type="tns:dbmlWorkshopBookingDetailViewFront" />
  <xs:complexType name="ArrayOfdbmlServiceDateViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlServiceDateViewFront" nillable="true" type="tns:dbmlServiceDateViewFront" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlServiceDateViewFront" nillable="true" type="tns:ArrayOfdbmlServiceDateViewFront" />
  <xs:complexType name="dbmlServiceDateViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BookingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NewDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlServiceDateViewFront" nillable="true" type="tns:dbmlServiceDateViewFront" />
  <xs:complexType name="ArrayOfdbmlDashBoardDocumentViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlDashBoardDocumentViewFront" nillable="true" type="tns:dbmlDashBoardDocumentViewFront" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlDashBoardDocumentViewFront" nillable="true" type="tns:ArrayOfdbmlDashBoardDocumentViewFront" />
  <xs:complexType name="dbmlDashBoardDocumentViewFront">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPId" type="xs:int" />
      <xs:element minOccurs="0" name="BPName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocId" type="xs:int" />
      <xs:element minOccurs="0" name="DocNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlDashBoardDocumentViewFront" nillable="true" type="tns:dbmlDashBoardDocumentViewFront" />
  <xs:complexType name="ArrayOfdbmlServicesView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlServicesView" nillable="true" type="tns:dbmlServicesView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlServicesView" nillable="true" type="tns:ArrayOfdbmlServicesView" />
  <xs:complexType name="dbmlServicesView">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GroupforMinBillingHours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MinInDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinTimeSlot" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceGroupMCId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceSpecification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SrNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TrackGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackGroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZServiceGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZTrackGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZTrackGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlServicesView" nillable="true" type="tns:dbmlServicesView" />
  <xs:complexType name="ArrayOfdbmlBookingStatusTimeSlotView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlBookingStatusTimeSlotView" nillable="true" type="tns:dbmlBookingStatusTimeSlotView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlBookingStatusTimeSlotView" nillable="true" type="tns:ArrayOfdbmlBookingStatusTimeSlotView" />
  <xs:complexType name="dbmlBookingStatusTimeSlotView">
    <xs:sequence>
      <xs:element minOccurs="0" name="MinBilling" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NextMinBilling" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="TaxPercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UOMPropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZBookingInADay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZConfirmedBookinginDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZConfirmedBookinginSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZZRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ZZSlotInADay" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlBookingStatusTimeSlotView" nillable="true" type="tns:dbmlBookingStatusTimeSlotView" />
  <xs:complexType name="ArrayOfdbmlWorkFlowView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlWorkFlowView" nillable="true" type="tns:dbmlWorkFlowView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlWorkFlowView" nillable="true" type="tns:ArrayOfdbmlWorkFlowView" />
  <xs:complexType name="dbmlWorkFlowView">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkFlowColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkFlowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowTypePropId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZWorkFlowType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlWorkFlowView" nillable="true" type="tns:dbmlWorkFlowView" />
  <xs:complexType name="ArrayOfdbmlWorkFlowActivityTrackView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlWorkFlowActivityTrackView" nillable="true" type="tns:dbmlWorkFlowActivityTrackView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlWorkFlowActivityTrackView" nillable="true" type="tns:ArrayOfdbmlWorkFlowActivityTrackView" />
  <xs:complexType name="dbmlWorkFlowActivityTrackView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BPId" type="xs:int" />
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocId" type="xs:int" />
      <xs:element minOccurs="0" name="PriorUserId" type="xs:int" />
      <xs:element minOccurs="0" name="PriorUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkFlowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkFlowStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlWorkFlowActivityTrackView" nillable="true" type="tns:dbmlWorkFlowActivityTrackView" />
  <xs:complexType name="ArrayOfdbmlLablinkVorC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlLablinkVorC" nillable="true" type="tns:dbmlLablinkVorC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlLablinkVorC" nillable="true" type="tns:ArrayOfdbmlLablinkVorC" />
  <xs:complexType name="dbmlLablinkVorC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComOptionListId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupPropId" type="xs:int" />
      <xs:element minOccurs="0" name="LablinkVorCId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlLablinkVorC" nillable="true" type="tns:dbmlLablinkVorC" />
  <xs:complexType name="ArrayOfdbmlTrackGroupMasterWithImageView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbmlTrackGroupMasterWithImageView" nillable="true" type="tns:dbmlTrackGroupMasterWithImageView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbmlTrackGroupMasterWithImageView" nillable="true" type="tns:ArrayOfdbmlTrackGroupMasterWithImageView" />
  <xs:complexType name="dbmlTrackGroupMasterWithImageView">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SrNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TrackCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackGroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TrackGroupMasterId" type="xs:int" />
      <xs:element minOccurs="0" name="TrackGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZZImageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbmlTrackGroupMasterWithImageView" nillable="true" type="tns:dbmlTrackGroupMasterWithImageView" />
</xs:schema>